In [1]:
''''Pandas Series'''''
# Panda series is a 1D data structure -> Similar to a column in a table
import pandas as pd
x = ['a','b','c','d','E']
data_series = pd.Series(x)
print(data_series)

0    a
1    b
2    c
3    d
4    E
dtype: object

In [3]:
import pandas as pd

x = ['a','b','c','d','E']
series = pd.Series(x, index=['A','B','C','D','E'])
print(series)
print(series['B'])

A    a
B    b
C    c
D    d
E    E
dtype: object
b

In [6]:
'''Pandas data frames'''
# A data frame is a 2D data structure -> Similar to a table
import pandas as fofo # You can use any name you want
dict = {
    'Name': ['Rael', 'Ruth', 'Roman', 'Raphael'],
    'Age': [23,24,25,26]
}
df = fofo.DataFrame(dict, index=['Name1', 'Name2', 'Name3', 'Name4'])
print(df)

          Name  Age
Name1     Rael   23
Name2     Ruth   24
Name3    Roman   25
Name4  Raphael   26

In [8]:
import pandas as pd

dict = {
    'Name': ['Rael', 'Ruth', 'Roman', 'Raphael'],
    'Age': [23,24,25,26],
    'College': ['JKUAT', 'UoN', 'KU', 'Moi'],
    'Course': ['IT', 'Medicine', 'Engineering', 'Law']
}

df = pd.DataFrame(dict)
print(df)

      Name  Age College       Course
0     Rael   23   JKUAT           IT
1     Ruth   24     UoN     Medicine
2    Roman   25      KU  Engineering
3  Raphael   26     Moi          Law

In [26]:

5 + 9

14

In [48]:
print('======Selecting a specific column from the data frame======')
print('\n')
dict = {
    'Name': ['Rael', 'Ruth', 'Roman', 'Raphael'],
    'Age': [23,24,25,26],
    'College': ['JKUAT', 'UoN', 'KU', 'Moi'],
    'Course': ['IT', 'Medicine', 'Engineering', 'Law']
}

x = df.Course
y = df['Course']
z = df[['Course']] # I like more this one
print(x)
print('\n')
print(y)
print('\n')
print(z)
print('\n')


print('======Selecting a specific row from the data frame======')
print('\n')
p = df.loc[[0,1,2,3]]
t = df.loc[0]
print(p)
print('\n')
print(t)
print('\n')

print('======Selecting rows by column values======')
print('\n')
q = df.loc[df.Age >= 20]
print(q)
print('\n')
d = df.loc[df.Age >= 20]['Name']
print(d)
print('\n')
b = df.loc[df.Age >= 20]['Course']
print(b)
print('\n')
h = df.loc[df.Age >= 20]['College']
print(h)
print('\n')
n = df.loc[df.Age >= 20]['Age']
print(n)

print('\n')
print('======Iterating columns in data frame======')
print('\n')

for i in df.index:
    print(df.Name[i])
print('\n')
for i in df.index:
    print(df.College[i])
print('\n')
for i in df.index:
    print(df.Course[i])

======Selecting a specific column from the data frame======


0             IT
1       Medicine
2    Engineering
3            Law
Name: Course, dtype: object


0             IT
1       Medicine
2    Engineering
3            Law
Name: Course, dtype: object


        Course
0           IT
1     Medicine
2  Engineering
3          Law


======Selecting a specific row from the data frame======


      Name  Age College       Course
0     Rael   23   JKUAT           IT
1     Ruth   24     UoN     Medicine
2    Roman   25      KU  Engineering
3  Raphael   26     Moi          Law


Name        Rael
Age           23
College    JKUAT
Course        IT
Name: 0, dtype: object


======Selecting rows by column values======


      Name  Age College       Course
0     Rael   23   JKUAT           IT
1     Ruth   24     UoN     Medicine
2    Roman   25      KU  Engineering
3  Raphael   26     Moi          Law


0       Rael
1       Ruth
2      Roman
3    Raphael
Name: Name, dtype: object


0             IT
1       Medicine
2    Engineering
3            Law
Name: Course, dtype: object


0    JKUAT
1      UoN
2       KU
3      Moi
Name: College, dtype: object


0    23
1    24
2    25
3    26
Name: Age, dtype: int64


======Iterating columns in data frame======


Rael
Ruth
Roman
Raphael


JKUAT
UoN
KU
Moi


IT
Medicine
Engineering
Law